/* 以下ヘッダー部のCSS */
.header-search {
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 0 10px;
}

.header-button {
    display: flex;
}

.header-button-logout,
.header-button-mypage {
    height: 40px;
    margin: 2px 10px;
    color: #fff;
    background: #000;
    border-radius: 1px;
    border: none;
    cursor: pointer;
}

.header-button-sell {
    height: 40px;
    margin: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
}

/* 以下ヘッダー部CSS終わり */

.purchase-content {
    min-width: 1400px;
    max-width: 1540px;
    display: flex;
    padding: 80px 80px;
}
.purchase-item {
    display: flex;
    width: 805px;
}
.purchase-confirm-submit {
    width: 500px;
    padding: 0 30px;
}
.purchase-completed {
    width: 500px;
    padding: 0 30px;
}
.item-image {
    width:177.53px;
    height: 177.53px;
    margin-right: 50px;
}
.item-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #cccccc;
}
.item-name {
    font-weight: bold;
    font-size: 20px;
}
.price-info {
    font-size: 20px;
}
hr {
    width: 805px;
    padding: 0;
}
.payment-method-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
    display: flex;
    align-items: center;
    width: 326px;
    height: 85px;
}
.payment-method-select {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 265px;
    height: 31px;
}
.address-header {
    height: 85px;
    font-size: 16px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-title {
    font-weight: bold;
}
.address-content {
    margin-top: 10px;
    margin-left:80px;
    margin-bottom: 50px;
    width :280px;
    height: 58px;
}
.address-edit-link {
    text-decoration: none;
    color: #0000ff
}
.price-table {
    width: 440px;
    height: 230px;
}
.purchase-button-submit {
    width: 440px;
    height: 60px;
    background: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
}
.address-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
}
.price-table-col {
    width: 40%;
}
.order-alert-danger {
    background: #ff0000;
    color: #fff;
}
.price-table-row {
    border: 1px solid #000;
}