/* 以下ヘッダー部のCSS */
.header-search {
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 0 10px;
}

.header-button {
    display: flex;
}

.header-button-logout,
.header-button-mypage {
    height: 40px;
    margin: 2px 10px;
    color: #fff;
    background: #000;
    border-radius: 1px;
    border: none;
    cursor: pointer;
}

.header-button-sell {
    height: 40px;
    margin: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
}

/* 以下ヘッダー部CSS終わり */

.items-menu {
    min-width: 1400px;
    max-width: 1540px;
    height: 94px;
    padding-top: 70px;
    padding-left: 120px;
}
a {
    text-decoration: none;
}
.items-menu-reconment {
    display: inline-block;
    margin-right: 50px;
    margin-left: 30px;
}
.items-menu-link {
    display: inline-block;
    margin-left: 50px;
    color: #ff0000;
}
hr {
    min-width: 1400px;
    max-width: 1540px;
}
.items-content {
    padding: 40px 40px;
    min-width: 1400px;
    max-width: 1540px;
    display: flex;
    flex-wrap: wrap;
}
.items-image {
    width: 320px;
    height: 320px;
}
.items-image-content {
    display: inline-block;
    width: 280px;
    height: 280px;
    background: grey;
}

/* 通常のリンク */
a {
    color: #000000;
    /* 文字色 */
    text-decoration: none;
    /* 下線なし */
}

/* マウスを重ねたとき */
a:hover {
    color: #000000;
    text-decoration: underline;
}

/* クリックした後（訪問済みリンク） */
a:visited {
    color: #000000;
}

/* クリック中（押下中） */
a:active {
    color: #000000;
}
.sold {
    color: #ff0000;
}