.login__form {
    min-width: 1400px;
    max-width: 1540px;
}
.login__form-inner {
    margin: 80px auto;
    width: 680px;
    height: 656px;
}
.login__form-table {
    width: 100%;
}
.login__form-row-first {
    text-align: center;
    height: 130px;
}
.login__form-row {
    height: 130px;
}
.login__form-row-last {
    height: 206px
}
.login__form-col-button {
    padding-top: 30px;
}
.login__form-col-link {

    text-align: center;
    vertical-align: top;
    padding-top: 10px;
}
.login__form-label {
    font-size: 25px;
}
.login__input {
    width: 100%;
    height: 65.25px;
    border-radius: 3px;
    border-color: grey;
    font-size: 30px;
}
.login__button {
    width: 100%;
    height: 65.25px;
    background: #FF5555;
    color: #fff;
    border-radius: 3px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
.login__form-link {
    text-decoration: none;
    color: blue;
}
.login__alert-danger {
    background: #ff0000;
    color: #fff;
}