.verify-email__form {
    min-width: 1400px;
    max-width: 1540px;
}

.verify-email__form-inner {
    margin: 200px auto;
    width: 680px;
    height: 656px;
}
.verify-email__message {
    font-weight: bold;
    text-align: center;
}
.verify-email__exec {
    text-align: center;
    padding: 20px 20px;
}
.verify-email__resend {
    text-align: center;
}
.verify-email__exec-button {
    height: 40px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.verify-email__resend-button {
    background: #fff;
    color: #0000ff;
    border:none;
    cursor: pointer;
}