/* 以下ヘッダー部のCSS */
.header-search {
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 0 10px;
}

.header-button {
    display: flex;
}

.header-button-logout,
.header-button-mypage {
    height: 40px;
    margin: 2px 10px;
    color: #fff;
    background: #000;
    border-radius: 1px;
    border: none;
    cursor: pointer;
}

.header-button-sell {
    height: 40px;
    margin: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
}

/* 以下ヘッダー部CSS終わり */
.user-info {
    width: 1017px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto;
}
.user-info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.profile-menu {
    min-width: 1400px;
    max-width: 1540px;
    height: 47px;
    padding-top: 10px;
    padding-left: 120px;
}

a {
    text-decoration: none;
}

.profile-menu-link {
    color: #ff0000;
    display: inline-block;
    margin-right: 40px;
}

.profile-menu-buy {
    display: inline-block;
    margin-left: 40px;
}

hr {
    min-width: 1400px;
    max-width: 1540px;
}

.profile-content {
    padding: 40px 40px;
    min-width: 1400px;
    max-width: 1540px;
    display: flex;
    flex-wrap: wrap;
}

.profile-image {
    width: 320px;
    height: 320px;
}

.profile-image-content {
    display: inline-block;
    width: 280px;
    height: 280px;
    background: grey;
}
    
.profile-img {
    width: 150px;
    height: 150px;
    background: #cccccc;
    border-radius: 50%;
    margin-right: 100px;
    /*margin-bottom: 40px;*/
}
    
.profile-img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 30px;
    background: #fff;
    border-color: #ff0000;
    color: #ff0000;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.sold {
    color: #ff0000;
}